{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Peserta</title>

    <link rel="stylesheet" href="{% static 'akun/css/style.css' %}">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>ATTA PROJECT</h1>

        <h2>Selamat Datang</h2>

        <p>
            Halo,
            <strong>{{ request.user.username }}</strong>
        </p>

        <br>

        {% if first_soal_id %}
            <a href="{% url 'tampil_soal' first_soal_id %}" class="button-link">
                Mulai Ujian
            </a>
        {% else %}
            <p>Tidak ada soal tersedia saat ini.</p>
        {% endif %}

        <br><br>

        <a href="{% url 'logout' %}" class="button-link secondary">
            Logout
        </a>

    </div>

</div>

</body>
</html>